@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    list-style: none;
    box-sizing: border-box;
    text-decoration: none !important;
}

.header-logo{
    font-size: 70px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.fill-color{
    font-size: 70px ;
    font-weight: 700    ;
    font-family: "Open Sans", sans-serif;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: black;
}
.menu-dots{
    top: 0;
    z-index: 994;
    display: inline-block;
    background: black;
    width: 50px;
    height: 50px;
}
.menu-dots::before{
    content: '';
    position: absolute;
    top: 0;
    right: calc(100% + 5px);
    background: white;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transition: linear 0.1s;
}

.menu-dots::before{
    content: '';
    position: absolute;
    top: 0;
    right: calc(100% + 5px);
    background: white;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transition: linear 0.1s;
}
.section-nav{
    background: black;
}
.nav-wrapper{
    top: 24px;
}
.text-color{
    color:#b2b2b2;
    font-family: "Roboto Mono", monospace;
}
.nav-circle{
    width: 40px;
    height: 40px;
    border: 2px dashed grey;
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 0;
    border-radius: 50%;
    animation: rotate 5s linear infinite ;
}


.section-nav ul li{
    position: relative;
}
.section-nav ul li:not(:first-child):after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: grey;
    right: 20px;
    top: 25px;
    border-radius: 50%;
}
@keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
}
.title-heading h3{
    font-size: 40px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.283);
}

.title{
    font-size: 13px;
    margin-top: -20px;
}   
   
.round-circle{
    display: inline-flex;
    align-items: center;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s;
}

.stroke-fill{
    font-size: 50px ;
    font-weight: 500    ;
    font-family: "Open Sans", sans-serif;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: black;
}
.contain{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;   
}
.portfolio-heading {
    position: relative;
}
.portfolio-heading::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    bottom: -25px;
}
.portfolio-heading h3{
    font-size: 40px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.283);
}
.service-number {
    font-size: 60px ;
    font-weight: 600    ;
    font-family: "Open Sans", sans-serif;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: black;
}
.service-item{
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 412px;
    margin-right: 40px;
}


.swiper-slide img {
    display: block;
    width: 70px;
    height: 50px;
    object-fit: cover;
  }
.testimonial-box {
    position: relative;

}
.quote{
    position: absolute;
    left: 30px;
    top: -10px;
    font-size: 50px;
    color: grey !important;
    transform: rotate(180deg);
    z-index: -1;
    opacity: 0.4;
}
.round-circle2{
    display: inline-flex;
    align-items: center;
    border: 1px dashed black;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s;
    
    
}
.project{
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 3px 10px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}
.contact-border{
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
input:not(.form-check-input), textarea {
    background: transparent;
    width: 100%;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    margin-bottom: 2rem;
    padding: 0 0 1rem;
    box-shadow: none;
    font: 400 14px "Open Sans", sans-serif;
    -webkit-transition: ease-out 0.16s;
    transition: ease-out 0.16s;
}
.btn-submi{
    font-family: "Roboto Mono", monospace;
}
.client-box{
    opacity: 0.5;
    transition: ease-out 0.12s;
    
}
.swiper2 {
    width: 100%;
    height: 100%;
  }

  .swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
